<style>
#dashboard .popup-content input[type=email],#dashboard .popup-content input[type=text],#dashboard input[type=email],#dashboard input[type=text],#dashboard textarea{width:calc(100% - 22px);padding:10px;margin-bottom:20px;border:1px solid #ccc;border-radius:4px}#dashboard fieldset{border:1px solid #ddd;margin-bottom:20px;padding:10px;border-radius:4px}#dashboard legend{font-weight:700;color:#555}#dashboard .hospital-section{margin-top:20px;padding:10px;border:1px solid #ccc;border-radius:4px;background:#f9f9f9}#dashboard .add-btn{padding:1rem;margin-top:1rem;color:#007bff}#dashboard .add-button,#dashboard button[type=submit]{display:block;width:100%;padding:10px;margin-top:20px;background:#007bff;color:#fff;border:none;border-radius:4px;cursor:pointer;font-size:16px}#dashboard .add-button:hover,#dashboard .popup-content button:hover,#dashboardbutton[type=submit]:hover{background:#0056b3}#dashboard .toggle-container{display:flex;justify-content:center;margin-bottom:20px}#dashboard .toggle-button{display:flex;width:200px;height:50px;background:#ccc;border-radius:25px;position:relative;cursor:pointer}#dashboard .popup,#dashboard .toggle-button input[type=radio],.mydata-details{display:none}.toggle-button label{flex:1;line-height:50px;text-align:center;margin:0;font-weight:700;transition:color .3s}.header,.popup{justify-content:center}.toggle-button input[type=radio]:checked+label{color:#fff}.toggle-button .slider{position:absolute;width:100px;height:50px;background:#007bff;border-radius:25px;transition:transform .3s;opacity:.5}#doctor:checked~.slider{transform:translateX(0)}#hospital:checked~.slider{transform:translateX(100px)}.popup{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);align-items:center}.popup-content{background:#fff;padding:20px;border-radius:8px;text-align:center;width:300px;box-shadow:0 2px 4px rgba(0,0,0,.1)}.nav-button,.popup-content button{color:#fff;border:none;cursor:pointer}.popup-content button{display:block;width:100%;padding:10px;background:#007bff;border-radius:4px;font-size:16px}.shift-section{display:none;margin-top:10px}.mar-label{margin-top:-15px;margin-bottom:15px}.doctor-details,.mydata-details{margin:15px 0 0 25px}.input-container input{padding:10px;border:1px solid #ccc;border-radius:4px}.input-container label{position:relative;top:5px;left:40px;background-color:#fff;padding:0 5px;color:#777;font-size:14px}#image{width:188px;height:44px;padding:10px 10px 10px 15px;border-radius:3px;font-weight:400;user-select:none;font-style:italic;border:1px solid gray}#user-input{padding-right:10px;height:50px}input{border:1px solid gray}.inline{display:inline-block}.header,.sidebar{display:flex}.select-styles{height:33px;width:111px;border-radius:3px}.side-list{background-color:rgba(49,167,167,.726);border:1px solid #dcdcdc;width:15%;height:85vh}.nav-button,.switch.on{background-color:#007bff}.side-list ul{list-style:none}.side-list ul li{padding-top:15px}.side-list ul li a{text-decoration:none;color:#000}.side-list ul li a:hover{color:#fff;text-decoration:underline}.log-out a{text-decoration:none;font-size:20px;padding-left:5px}.header{align-items:center;height:80px}.day-item,.nav-button{display:inline-block;margin:10px}.header-img{height:55px;width:55px;border-radius:50%}.scroller-container{width:70rem;overflow-x:auto;white-space:nowrap}.day-item{width:80px;height:80px;border-radius:5px;text-align:center}.nav-button{padding:18px;border-radius:50%}.scroller-container::-webkit-scrollbar{display:none}table,td,th{border:1px solid #000;border-collapse:collapse;padding:8px}.btn-time{border:none}.switch{width:60px;height:30px;background-color:grey;border-radius:15px;position:relative;cursor:pointer;transition:background-color .3s}.switch-handle{width:30px;height:30px;background-color:#fff;border-radius:50%;position:absolute;top:0;left:0;transition:left .3s;display:flex;justify-content:center;align-items:center}.icon{font-size:18px;position:absolute}.switch.on .switch-handle{left:30px}.switch.on .icon-check{display:block}.switch.on .icon-cross{display:none}b,strong{color:rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important}.leave_doctor{color:red!important}
</style>

<section id="dashboard"> 
	<div class="px-5 header">
		<div class="d-flex align-items-center">
			<div>
				<label for="months">Select a Month:</label>			
				<select id="months" class="select-styles">
					<option value="">Select</option>
					{% for key,month in arr_data.months %}
						<option value="{{ key }}" {{(arr_data.select_month == key) ? 'selected' : ''}}>{{ month }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="mx-5">
				<label for="months">Select a years:</label>
				<select id="date-dropdown" class="select-styles years">
					<option value="">Select</option>
					<option value="{{ arr_data.years }}" {{(arr_data.select_year == arr_data.years) ? 'selected' : ''}}>{{ arr_data.years }}</option>
				</select>
			</div>
			<div class="mx-5">
				<label for="months">Select a Doctor:</label>
				<select class="select-styles doctor_select">
					<option value="">Doctor</option>
					{% for key,doctor in arr_data.usernames %}
						<option value="{{ key }}" {{(arr_data.user_id == key) ? 'selected' : ''}}>{{ doctor }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="">
				<label for="months">Select a Hospital:</label>
				<select class="select-styles hospital">
				{# {% if arr_data.clinic is not empty %}
					<option value="{{ arr_data.clinic }}" selected="selected">{{ arr_data.clinic_name }}</option>
				{% else %}
					<option value="{{ arr_data.target_id }}" selected="selected">{{ arr_data.clinic_name }}</option>
				{% endif %} #}
					{% for key,hospital in arr_data.hospitals %}
						<option value="{{ hospital.target_id }}" {{(arr_data.clinic == hospital.target_id) ? 'selected' : ''}}>{{ hospital.clinic_name }}</option>
					{% endfor %}
				</select>
			</div>
		</div> 
	</div>
	<div class="sidebar">
		<div class="col-lg-4 side-list">
			<ul>
				<li class="fs-4">
					<a href="#" onclick="showDoctorDetails()">Dashboard</a>
				</li>
				<li class="fs-4"><a href="#" onclick="showMyData()">Profile</a></li>
			</ul>
		</div>
		<div class="col-lg-8" style="min-width: calc(100% - 15%)">
			<div style="display: flex">
				<table border="" style="width: 00px">
					<tr>
						<th style="padding: 20px"></th>
						<th style="padding: 38px 0px 38px 0px">
							<button class="nav-button" id="prevBtn">
							<i class="fa-solid fa-circle-arrow-left"></i>
							</button>
						</th>
					</tr>
					<tr>
						<td rowspan="3" style="text-align: center">
							<img class="header-img" src="{{ arr_data.profile_theme1.field_background_image.url }}" alt="doctor"/>
							<br />
							<p>
								{{ arr_data.profile_theme1.field_name }} <br />
								{{ arr_data.profile_theme1.field_specialitiy }} <br />
								{{ arr_data.profile_theme1.field_degree }}
							</p>
						</td>
						<th>
							<strong> Morning 8AM-12PM</strong>
						</th>
					</tr>
					<tr>
						<th>
							<strong>AfterNoon 12PM-4PM</strong>
						</th>
					</tr>
					<tr>
						<th>
							<strong>Evening 4PM-10PM</strong>
						</th>
					</tr>
				</table>
				<div class="modal fade" id="cancel_appoiment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header border-0">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Book Appointment</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="booking_data"></div>
							
						</div>
					</div>
				</div>
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header border-0">
								<h1 class="modal-title fs-5 booking_popup" id="exampleModalLabel">Modal </h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body" id="modalContent"></div>
							<form class="mx-2 my-3" name="booking_appointment" method="post" id="booking_appointment">
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Name</label>
									<input type="text" class="form-control" id="paitent_name" name="paitent_name" aria-describedby="emailHelp">
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Phone Number</label>
									<input type="number" class="form-control" id="phone_number" name="phone_number">
								</div>
								<input type="hidden" name="time_slot" id="time_slot" value="">
								<input type="hidden" name="time_slot_name" id="time_slot_name" value="">
								<input type="hidden" name="booking_date" id="booking_date" value="">
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="scroller-container clinic_date_data" id="scroller-container" data-user-id = '{{arr_data.user_id}}'>
					<table style="height: 412px">
					<tr>
					{% for key,item in arr_data.selecteddates %}
						<th>
							<p class="day-item">
								{{ item.date }} <br />
								{{ item.day }} <br />
							<div class="switch {{ item.doctor_availability }}" onclick="toggleSwitch(this)" data-date="{{ item.fulldate }}">
								<div class="switch-handle" id="switch-handle"></div>
								<div class="switch-text" style="display: flex; justify-content: space-between;">
									<div class="on-text" style="padding: 2px 7px;">in</div>
									<div class="off-text" style="padding: 2px 5px;">out</div>
								</div>
							</div>
							</p>
						</th>
					{% endfor %}
					</tr>
					<tr>
						{% for ket,item in arr_data.morning_slots %}
							<td>
							{% for key,mor_slo in item %}
								{% for mo,object in mor_slo %}
									<div class="" ddata={{ arr_data.doctor_availability[ket] }}>
										<strong class="time">{{ key }} <br></strong>
										<button type="button" class="btn-time text-primary nameBtn open_booking_popup" data-bs-toggle="modal" data-bs-target="#cancel_appoiment" data-id="{{mo}}" >
											<strong> {{object[0]}} </strong>
										</button>
									</div>
								{% endfor %}
									{% if arr_data.doctor_availability[ket] is not empty %}
										<button type="button" class="btn-time text-primary" id="morningBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-date="{{ ket }}" data-time-slot-name="Morning" disabled="disabled">
											<strong class="leave_doctor">{{ mor_slo }}</strong>
										</button><br/>
									{% else %}
										<button type="button" class="btn-time text-primary" id="morningBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-date="{{ ket }}" data-time-slot-name="Morning">
											<strong>{{ mor_slo }}</strong>
										</button><br/>
									{% endif %}
							{% endfor %}
							</td>
						{% endfor %}
					</tr>
					<tr>
						{% for ket,item in arr_data.afternoon_slots %}
							<td>
							{% for key,after_slo in item %}
								{% for af,object in after_slo %}
									<div class="">
										<strong class="time">{{ key }} <br></strong>
										<button type="button" class="btn-time text-primary nameBtn open_booking_popup" data-bs-toggle="modal" data-bs-target="#cancel_appoiment" data-id="{{af}}">
										<strong> {{object[0]}} </strong>
										</button>
									</div>
								{% endfor %}
								{% if arr_data.doctor_availability[ket] is not empty %}
									<button type="button" class="btn-time text-primary" id="morningBtn" data-time-slot-name="After Noon" data-bs-toggle="modal" data-bs-target="#exampleModal" data-date="{{ ket }}" disabled="disabled">
										<strong class="leave_doctor">{{ after_slo }}</strong>
									</button><br/>
								{% else %}
									<button type="button" class="btn-time text-primary" id="morningBtn" data-time-slot-name="After Noon" data-bs-toggle="modal" data-bs-target="#exampleModal" data-date="{{ ket }}">
										<strong>{{ after_slo }}</strong>
									</button><br/>
								{% endif %}
							{% endfor %}
						</td>
						{% endfor %}
					</tr>
					<tr>
						{% for ket,item in arr_data.evening_slots %}
							<td>
							{% for key,ev_slo in item %}
								{% for ev,object in ev_slo %}
									<div class="">
										<strong class="time">{{ key }} <br></strong>
										<button type="button" class="btn-time text-primary nameBtn open_booking_popup" data-bs-toggle="modal" data-bs-target="#cancel_appoiment" data-id="{{ev}}">
										<strong> {{object[0]}} </strong>
										</button>
									</div>
								{% endfor %}
								{% if arr_data.doctor_availability[ket] is not empty %}
									<button type="button" class="btn-time text-primary" id="morningBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-time-slot-name="Evening" data-date="{{ ket }}" disabled="disabled">
										<strong class="leave_doctor">{{ ev_slo }}</strong>
									</button><br/>
								{% else %}
									<button type="button" class="btn-time text-primary" id="morningBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-time-slot-name="Evening" data-date="{{ ket }}">
										<strong>{{ ev_slo }}</strong>
									</button><br/>
								{% endif %}
							{% endfor %}
							</td>
						{% endfor %}
					</tr>
					</table>
				</div>
				<table style="min-height:413px;">
					<tr>
						<th style="height: 38%;">
							<button class="nav-button" id="nextBtn">
							<i class="fa-solid fa-circle-arrow-right"></i>
							</button>
						</th>
					</tr>
					<tr>
						<th style="padding: 0 0 61px 0"></th>
					</tr>
					<tr>
						<th style="padding: 0 0 62px 0"></th>
					</tr>
					<tr>
						<th style="padding: 0 0 61px 0"></th>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>