{% if arr_data.profile_theme == 'theme1' %}
<section id="sec1">
    <div class="container">
        <div class="row">


            <div class="col-lg-5 mx-auto col-md-5 order-lg-2 order-sm-2 img-bg p-5">

                <img src="{{ arr_data.profile_theme1.field_background_image.url }}" alt="{{ arr_data.profile_theme1.field_background_image.alt }}">

            </div>

            <div class="svg d-block d-sm-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#4c94d3" fill-opacity="1" d="M0,128L80,144C160,160,320,192,480,197.3C640,203,800,181,960,149.3C1120,117,1280,75,1360,53.3L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
                </svg>
            </div>

            <div class="col-lg-7 col-md-7 intro-box order-lg-1 order-sm-1">
                <h1 class="fs-1 tc">{{ arr_data.profile_theme1.field_name}}</h1>
                <p class="title tc">{{ arr_data.profile_theme1.field_speciality}} </p>
                <p style="margin-top: -10px;" class="tc">{{ arr_data.profile_theme1.field_degree}} </p>
                <div class="d-block d-sm-none" style="margin-top: -20px;">
                    <p class="pt-4 fs-4 m-3 tc">{{ arr_data.profile_theme1.field_phone_number}} {{ arr_data.profile_theme1.field_email_address}}</p>
                </div>
                <div class="row">
                    <div class="col-sm-7 bg-change">
                        <div class="sm-fl">

                            <button class="btn appbtn rounded-pill mb-2 order-lg-2 order-sm-2">Book an appointment</button>

                            <a href="https://api.whatsapp.com/send?phone={{arr_data.profile_theme1.field_phone_number}}&text=Hello." target="_blank"><button class="whatsappbtn btn mb-2 d-block d-sm-none"><span><i class="fa-brands fa-whatsapp mx-1"></i> </span> <span class="line"></span> <span class="mx-2 fw-bolder">SHARE</span></button></a>

                        </div>
                        <p class="pt-4 fs-6 mb-4 d-none d-sm-block">{{ arr_data.profile_theme1.field_phone_number}} <br>{{ arr_data.profile_theme1.field_email_address}}</p>
                        <div class="rating float-start mb-3 mt-3 order-lg-2 order-sm-2" id="rating">
                            {% set value =  arr_data.profile_theme1.field_profilerating %}
                            {% set wholeStars = value | round(0, 'floor') %}
                            {% set remainder = value - wholeStars %}

                            {% for i in 5..1 %}
                            {% if i <= wholeStars %}
                            <span class="star filled" data-value="{{ i }}">&#9733;</span>
                            {% elseif i == (wholeStars + 1) and remainder > 0 %}
                            <span class="star half-filled" data-value="{{ i }}">&#9733;</span>
                            {% else %}
                            <span class="star" data-value="{{ i }}">&#9734;</span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-5 d-none d-sm-block">

                        <a href="https://api.whatsapp.com/send?phone={{arr_data.profile_theme1.field_phone_number}}&text=Hello." target="_blank">
                            <button class="whatsappbtn btn mb-2"><span><i class="fa-brands fa-whatsapp mx-1"></i> </span> <span class="line"></span> <span class="mx-2 fw-bolder">SHARE</span></button>
                        </a>

                        <p class="exp mt-3 col-10">{{ arr_data.profile_theme1.field_experiences}}</p>
                       
                        <p class="exp mb-4 col-10">{{ arr_data.profile_theme1.field_patients}}</p>
                    </div>
                    <div class="col-sm-12">
                        <div class="bg-change row">

                            {% for key,imgdata in arr_data.profile_theme1.field_logos %}
                            <div class="col-sm-4 m-2 clinic-wrap">
                                <img class="img-fluid mx-auto d-block" src="{{imgdata.field_logo.url}}" alt="">
                            </div>
                            {% endfor %}


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>







{% else%}

	<section id="p2sec1" class="theme2">
        <div class="secondtheme">
            <div class="banner"></div>
            <div class="gotop p-5 pb-0 d-none d-xl-block">
                <div class="flx pb-0">

                    <div class="cont">
                        <div class="col-sm-3 ">
                            <img src="{{ arr_data.profile_theme1.field_background_image.url }}" alt="{{ arr_data.profile_theme1.field_background_image.alt }}" width="100%">
                        </div>
                    </div>
                    <div class="red_theme">
                        <div class="box-cont d-flex">
                            <div class="col-sm-10 box-data p-3">
                                <h1 class="">{{ arr_data.profile_theme1.field_name}}</h1>
                                <p class="pt-3 col-sm-10 "><b>{{ arr_data.profile_theme1.field_allcertifications}}</b></p>
                                <p class="pt-3 fs-6  tc">{{ arr_data.profile_theme1.field_phone_number}} {{ arr_data.profile_theme1.field_email_address}}</p>
                            </div>

                            <div>
                                <button class="btn appbtn p-2 mb-2 order-lg-2 order-sm-2">Book an appointment</button>
                                <a href="https://api.whatsapp.com/send?phone={{arr_data.profile_theme1.field_phone_number}}&text=Hello." target="_blank"><button class="whatsappbtn btn mb-2 "><span><i class="fa-brands fa-whatsapp mx-1"></i> </span> <span class="line"></span> <span class="mx-2 fw-bolder">SHARE</span></button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="fs-2"><span class="ten"><b>{{ arr_data.profile_theme1.field_experiences}} Years <span class="fs-6">Experience</span></b></span></p>
                                </div>

                                <div class="col-sm-4">
                                    <p class="fs-2"><b><span class="ten">{{ arr_data.profile_theme1.field_patients}}k+</span> Patients</b></p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="rating float-start mb-3 mt-3 order-lg-2 order-sm-2" id="rating">
                                        {% set value =  arr_data.profile_theme1.field_profilerating %}
										{% set wholeStars = value | round(0, 'floor') %}
										{% set remainder = value - wholeStars %}

										{% for i in 5..1 %}
											{% if i <= wholeStars %}
											<span class="star filled" data-value="{{ i }}">&#9733;</span>
												{% elseif i == (wholeStars + 1) and remainder > 0 %}
												<span class="star half-filled" data-value="{{ i }}">&#9733;</span>
												{% else %}
											<span class="star" data-value="{{ i }}">&#9734;</span>
											{% endif %}
										{% endfor %}
                                    </div>
                                </div>
							{% for key,imgdata in arr_data.profile_theme1.field_logos %}	
                                <div class="col-sm-4">
								<img src="{{imgdata.field_logo.url}}" width="100%">
								</div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="sm-device d-xl-none">
                <div class="container gotopsm ">

                    <div class="ppWrapper mx-auto">
                        <img src="{{ arr_data.profile_theme1.field_background_image.url }}" alt="{{ arr_data.profile_theme1.field_background_image.alt }}" width="100%">
                    </div>

                    <div class="profile-wrapper p-5">
                        <h1 class=" text-center pt-5">{{ arr_data.profile_theme1.field_name}}</h1>
                        <p class="pt-2 col-sm-10 text-center"><b>{{ arr_data.profile_theme1.field_speciality}}</b></p>
                        <p class="pt-2 fs-6  tc text-center">{{ arr_data.profile_theme1.field_phone_number}} {{ arr_data.profile_theme1.field_email_address}}</p>
                    </div>

                    <button class="btn appbtnsm mx-auto d-block p-2 mb-2 order-lg-2 order-sm-2">Make an appointment</button>

                    <a href="https://api.whatsapp.com/send?phone={{arr_data.profile_theme1.field_phone_number}}&text=Hello." target="_blank"><button class="whatsappbtn mx-auto d-block btn mb-2"><span><i class="fa-brands fa-whatsapp mx-1"></i> </span> <span class="line"></span> <span class="mx-2 fw-bolder">SHARE</span></button></a>

                    <div class="col-sm-6 mx-auto">
                        <div class="rating  mb-3 mt-3 " id="rating">
                            {% set value =  arr_data.profile_theme1.field_profilerating %}
							{% set wholeStars = value | round(0, 'floor') %}
							{% set remainder = value - wholeStars %}
							{% for i in 5..1 %}
								{% if i <= wholeStars %}
								<span class="star filled" data-value="{{ i }}">&#9733;</span>
									{% elseif i == (wholeStars + 1) and remainder > 0 %}
									<span class="star half-filled" data-value="{{ i }}">&#9733;</span>
									{% else %}
								<span class="star" data-value="{{ i }}">&#9734;</span>
								{% endif %}
							{% endfor %}
                        </div>
                    </div>

                </div>

                <div class="d-flex mx-auto top-fix">
				{% for key,imgdata in arr_data.profile_theme1.field_logos %}
                    <div class="col-md-4"><img src="{{imgdata.field_logo.url}}" width="100%"></div>
                {% endfor %}    
                </div>

                <div class="d-flex top-fix">
                    <div class="col-sm-4 p-3">
                        <p class="fs-2"><span class="ten"><b>{{ arr_data.profile_theme1.field_experiences}}+ Years <span class="fs-6">Experience</span></b></span></p>
                    </div>

                    <div class="col-sm-4 p-3">
                        <p class="fs-2"><b><span class="ten">{{ arr_data.profile_theme1.field_patients}}k+</span> Patients</b></p>
                    </div>
                </div>
            </div>

        </div>

		
    </section>

{% endif %}









<section id="{{ arr_data.profile_theme == 'theme1' ? 'sec2' : 'p2sec2' }}" class="pt-5 pb-5 {{ arr_data.profile_theme == 'theme1' ? '' : 'theme2' }}">

		{% if arr_data.profile_theme == 'theme2' %}
			<div class="secondtheme">
		{% endif %}
    <div class="container">
        <ul class="nav nav-pills " role="tablist">
            <li class="nav-item">
                <a class="nav-link active fw-bold" data-bs-toggle="pill" href="#overview">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" data-bs-toggle="pill" href="#speciality">Speciality</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" data-bs-toggle="pill" href="#summary">Expertise summary</a>
            </li>
           
        </ul>
    </div>

    <div class="container">
        <div class="tab-content">

            <div id="overview" class="container tab-pane active pt-4"><br>
                <div class="row">
                    <div class="col-lg-7 col-sm-7 pilltext">
                        <p>{{arr_data.profile_theme1.field_overview}}</p>
                        <br>
                        <h2><b>Education</b></h2>
                        <p>{{arr_data.profile_theme1.field_allcertifications}}</p>
                    </div>
                    <div class="col-lg-5 col-sm-5 ">
                        <img class="img-fluid mx-auto d-block" alt="" src="{{ arr_data.profile_theme1.field_displaypicture.url }}" alt="{{ arr_data.profile_theme1.field_displaypicture.alt }}">
                    </div>
                </div>

            </div>

            <div id="speciality" class="container tab-pane fade pt-4"><br>
                <div class="row">
                    <div class="col-lg-7 col-sm-7 pilltext">
                        <p>{{arr_data.profile_theme1.field_specialities}}</p>
                        <br>
                    </div>
                    <div class="col-lg-5 col-sm-5">
                        {% for key, url in arr_data.profile_theme1.field_youtube %}
                        {% if loop.index == 3 %}
                        <iframe width="100%" height="100%" src="{{ url.field_youtube_embede }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div id="summary" class="container tab-pane fade pt-4"><br>
                <div class="row">
                    <div class="col-lg-12 pilltext">
                        <p>{{arr_data.profile_theme1.field_expertise_summary}}</p>                        
                    </div>
                    <div class="col-lg-5 col-sm-5">



                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container mt-4">
        <div class="owl-carousel docslider ">
            {% for key,url in arr_data.profile_theme1.field_youtube %}
            <iframe class="p-3 mx-auto d-block" width="80%" src="{{url.field_youtube_embede}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </div>

	{% if arr_data.profile_theme == 'theme2' %}
		</div>
	{% endif %}

</section>


<section id="{{ arr_data.profile_theme == 'theme1' ? 'sec3' : 'p2sec3' }}" class="p-5 pb-3">
	{% if arr_data.profile_theme == 'theme2' %}
		<div class="secondtheme">
	{% endif %}


    <div class="container">
    <h2>Book Appointment</h2>
    <ul class="nav nav-pills">
        {% for k, clinic in arr_data.profile_theme1.field_logos %}
            {% if k == '0' %}
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#{{ k }}">{{ clinic.field_clinicname }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#{{ k }}">{{ clinic.field_clinicname }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>


            <div class="tab-content">
                <div id="0" class="container tab-pane active"><br>
                    <div id="brain" class="container tab-pane active"><br>
                        <div class="col-lg-8 col-sm-12 pt-4">
                            <div class="row">

                                <div class="owl-carousel dateslider">
                                    <div class="date-wrapper">
                                        <div class="day text-center">MON</div>
                                        <div class="date text-center">16</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Tue</div>
                                        <div class="date text-center">17</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Wed</div>
                                        <div class="date text-center">18</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Thu</div>
                                        <div class="date text-center">19</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Fri</div>
                                        <div class="date text-center">20</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Sat</div>
                                        <div class="date text-center">21</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Sun</div>
                                        <div class="date text-center">22</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Mon</div>
                                        <div class="date text-center">23</div>
                                    </div>

                                    <div class="date-wrapper">
                                        <div class="day text-center">Tue</div>
                                        <div class="date text-center">24</div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="d-flex">
                            <div class="col-sm-1 pt-3">
                                <div class="location-wrapper">
                                    <p class="text-center p-2 pt-2 fs-1"><i class="fa-solid fa-location-dot "></i></p>
                                </div>
                            </div>

                            <div class="col-sm-5 pt-1">
                                <p class="loctext fw-bold fs-5">Clinic One <br><span>51 Goldhill Plaza #19-10/12 Banglore 308900</span></p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="fs-3 pt-5"><b>Morning (5 slots)</b></div>
                                <button class="ap-book p-3 mt-2"><b>9AM - 12 noon </b> <span class="text-danger">No Slot Available</span></button>
                            </div>

                            <div class="col-sm-12">
                                <div class="fs-3 pt-5"><b>After Noon </b></div>
                                <button class="ap-book p-3 mt-2"><b>12 noon - 5PM </b> <span class="text-danger">Doctor On Leave</span></button>
                            </div>

                            <div class="fs-3 pt-5"><b>Evening (5 slots) </b></div>
                            <div class="sm-4">


                                <ul class="time-wrap">
                                    <li class="time">
                                        <button class="ap-book p-3 mt-2"><b>4:00 PM</b></button>
                                    </li>
                                    <li class="time">
                                        <button class="ap-book p-3 mt-2"><b>4:30 PM</b></button>
                                    </li>
                                    <li class="time">
                                        <button class="ap-book p-3 mt-2"><b>5:00 PM</b></button>
                                    </li>
                                    <li class="time">
                                        <button class="ap-book p-3 mt-2"><b>4:30 PM</b></button>
                                    </li>
                                    <li class="time">
                                        <button class="ap-book p-3 mt-2"><b>2:00 PM</b></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="1" class="container tab-pane fade"><br>
                    <div id="home" class="container tab-pane active"><br>
                        <div id="brain" class="container tab-pane active"><br>
                            <div class="col-lg-8 col-sm-12 pt-4">
                                <div class="row">

                                    <div class="owl-carousel dateslider">
                                        <div class="date-wrapper">
                                            <div class="day text-center">MON</div>
                                            <div class="date text-center">16</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Tue</div>
                                            <div class="date text-center">17</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Wed</div>
                                            <div class="date text-center">18</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Thu</div>
                                            <div class="date text-center">19</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Fri</div>
                                            <div class="date text-center">20</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Sat</div>
                                            <div class="date text-center">21</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Sun</div>
                                            <div class="date text-center">22</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Mon</div>
                                            <div class="date text-center">23</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Tue</div>
                                            <div class="date text-center">24</div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="col-sm-1 pt-3">
                                    <div class="location-wrapper">
                                        <p class="text-center p-2 pt-2 fs-1"><i class="fa-solid fa-location-dot "></i></p>
                                    </div>
                                </div>

                                <div class="col-sm-5 pt-1">
                                    <p class="loctext fw-bold fs-5">Clinic Two <br><span>51 Goldhill Plaza #19-10/12 Banglore 308900</span></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="fs-3 pt-5"><b>Evening (5 slots) </b></div>
                                <div class="sm-4">


                                    <ul class="time-wrap">
                                        <li class="time">
                                            <button class="ap-book p-3 mt-2"><b>4:00 PM</b></button>
                                        </li>
                                        <li class="time">
                                            <button class="ap-book p-3 mt-2"><b>4:30 PM</b></button>
                                        </li>
                                        <li class="time">
                                            <button class="ap-book p-3 mt-2"><b>5:00 PM</b></button>
                                        </li>
                                        <li class="time">
                                            <button class="ap-book p-3 mt-2"><b>4:30 PM</b></button>
                                        </li>
                                        <li class="time">
                                            <button class="ap-book p-3 mt-2"><b>2:00 PM</b></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div id="2" class="container tab-pane fade"><br>
                    <div id="home" class="container tab-pane active"><br>
                        <div id="brain" class="container tab-pane active"><br>
                            <div class="col-lg-8 col-sm-12 pt-4">
                                <div class="row">

                                    <div class="owl-carousel dateslider">
                                        <div class="date-wrapper">
                                            <div class="day text-center">MON</div>
                                            <div class="date text-center">16</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Tue</div>
                                            <div class="date text-center">17</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Wed</div>
                                            <div class="date text-center">18</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Thu</div>
                                            <div class="date text-center">19</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Fri</div>
                                            <div class="date text-center">20</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Sat</div>
                                            <div class="date text-center">21</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Sun</div>
                                            <div class="date text-center">22</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Mon</div>
                                            <div class="date text-center">23</div>
                                        </div>

                                        <div class="date-wrapper">
                                            <div class="day text-center">Tue</div>
                                            <div class="date text-center">24</div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="col-sm-1 pt-3">
                                    <div class="location-wrapper">
                                        <p class="text-center p-2 pt-2 fs-1"><i class="fa-solid fa-location-dot "></i></p>
                                    </div>
                                </div>

                                <div class="col-sm-5 pt-1">
                                    <p class="loctext fw-bold fs-5">Clinic Three <br><span>51 Goldhill Plaza #19-10/12 Banglore 308900</span></p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="fs-3 pt-5"><b>Morning (5 slots)</b></div>
                                    <button class="ap-book p-3 mt-2"><b>9AM - 12 noon </b> <span class="text-danger">No Slot Available</span></button>
                                </div>

                                <div class="col-sm-12">
                                    <div class="fs-3 pt-5"><b>After Noon </b></div>
                                    <button class="ap-book p-3 mt-2"><b>12 noon - 5PM </b> <span class="text-danger">Doctor On Leave</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>






    </div>

	
	{% if arr_data.profile_theme == 'theme2' %}
		</div>
	{% endif %}

</section>

<section id="{{ arr_data.profile_theme == 'theme1' ? 'sec4' : 'p2sec4' }}" class="pt-0">
	{% if arr_data.profile_theme == 'theme2' %}
		<div class="secondtheme">
	{% endif %}
    <div class="container">
        <div class="row p-2">
            <h2 class="col-lg-9">Areas of expertise</h2>
            <button class="btn mx-end col-lg-3 facilities">View All Speciality Facilities</button>
        </div>
        <div class="row pt-5 sm-hide">




            {% for key,data in arr_data.profile_theme1.field_areaofexpertise %}
            <div class="col-lg-4 col-md-6 col-sm-4 p-5">
                <div class="col-sm-4 mx-auto">
                    <img src="{{data.field_logoexpertise.url}}" alt="{{expimg.field_logoexpertise.alt}}" width="100%">
                </div>
                <h6 class="text-center p-3"><b>{{data.field_expertisehead}}</b></h6>
                <div class="text-center">
                    {{data.field_expertisecontent}}
                </div>
            </div>

            {% endfor %}


        </div>

        {# <!------------Expertise Mobile view--------------------> #}

        <div class="owl-carousel expslider d-block d-sm-none pt-5">

            {% for key,data in arr_data.profile_theme1.field_areaofexpertise %}
            <div class="col-lg-4 col-md-6 col-sm-4 p-5">
                <div class="col-sm-4 mx-auto">
                    <img src="{{data.field_logoexpertise.url}}" alt="{{expimg.field_logoexpertise.alt}}" class="mx-auto" style="width:50% !important;">
                </div>

                <h6 class="text-center p-3"><b>{{data.field_expertisehead}}</b></h6>
                <div class="text-center">{{data.field_expertisecontent}}</div>
            </div>
            {% endfor %}


        </div>
    </div>

	
	{% if arr_data.profile_theme == 'theme2' %}
		</div>
	{% endif %}

</section>

<section id="{{ arr_data.profile_theme == 'theme1' ? 'sec5' : 'p2sec5' }}" class="">
	{% if arr_data.profile_theme == 'theme2' %}
		<div class="secondtheme">
	{% endif %}
	<h2 class="text-center">Latest News & Articles</h2>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 search-wrapper p-3">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="d-flex">
							<input class="form-control flex-grow-1 p-3" type="search" name="search" id="search" placeholder="Search for news">
							<button class="searchBtn p-3 ml-2 search_news_btn">Search</button>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 mt-3 mt-md-0">
						<div class="tags text-white d-flex flex-wrap">
							<p class="mx-2 my-1 cat-news-load" data-id="">All</p>
							{% for key,categorey in arr_data.news_categoery %}
								<p class="mx-2 my-1 cat-news-load" data-id="{{ categorey.term_id }}">{{ categorey. term_name}} </p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="news_cls">
				<h5 class="p-3">{{ arr_data.node_count }} Results</h5>
				<div class="row">
				{% for key,news_article in arr_data.article %}
					<div class="col-lg-4 col-md-6 col-sm-4 d-none d-sm-block">
						<div class="articele-wrapper pb-5">
							<img src="{{ news_article.thumb }}" width="100%">
							<div class="d-flex mx-4 mt-2">
								<div class="offset-lg-0">By {{ news_article.author }} </div>
								<div class="offset-lg-1">{{ news_article.date }}</div>
							</div>
							<div class="p-4 pt-0">
								<h6 class="pt-3 "><b>{{ news_article.title }}</b></h6>
								<div>{{ news_article.body|raw }}
									<button class="readMore p-2 float-start col-sm-7 mt-3">Read More</button>
								</div>
							</div>
						</div>
					</div>

                {% endfor %}



                <div class="owl-carousel blogslider d-block d-sm-none">
                 {% for key,news_article in arr_data.article %}
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="articele-wrapper pb-5">
                            <img src="{{ news_article.thumb }}" width="100%">
                            <div class="d-flex mx-4 mt-2">
                                <div class="offset-lg-0">{{ news_article.author }} </div>
                                <div class="offset-lg-1">{{ news_article.date }}</div>
                            </div>
                            <div class="p-4 pt-0">

                                <h6 class="pt-3 "><b>{{news_article.title }}</b></h6>
                                <div>{{ news_article.body|raw }}
                                    <button class="readMore p-2 float-start col-sm-7 mt-3">Read More</button>
                                </div>

                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
			</div>
		</div>
	</div>





		{% if arr_data.profile_theme == 'theme2' %}
		</div>
	{% endif %}
</section>



<section id="{{ arr_data.profile_theme == 'theme1' ? 'sec6' : 'p2sec6' }}" class="p-2">
	{% if arr_data.profile_theme == 'theme2' %}
		<div class="secondtheme">
	{% endif %}
    <div class="container">
        <p class="text-center fs-5 pt-5">Patient Experience</p>
        <h2 class="text-center pb-4">What patients say about the doctor</h2>
        <div class="col-sm-12 border border-dark-subtle rounded p-4">
            <div class="row">
                <input type="search" class="p-3 col-sm-9" placeholder="Patient Experience">
                <div class="col-sm-3 d-flex"> <span class="pt-3">Sort By: </span>
                    <div class="dropdown mx-2">
                        <button type="button" class="btn p-3 dropdown-toggle border border-dark-subtle" data-bs-toggle="dropdown">
                            Most Recent
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Normal</a></li>
                            <li><a class="dropdown-item active" href="#">Active</a></li>
                            <li><a class="dropdown-item disabled" href="#">Disabled</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 border border-dark-subtle rounded mt-5 pb-3 pt-3">
                <button class="exp rounded-pill p-3 me-4 mt-3">All Patient Experiences</button>
                <button class="exp rounded-pill p-3 me-4 mt-3">brain checks</button>
                <button class="exp rounded-pill p-3 me-4 mt-3">proton therapy </button>
                <button class="exp rounded-pill p-3 me-4 mt-3"> cancer and tumors</button>
                <button class="exp rounded-pill p-3 me-4 mt-3"> craniosynostosis</button>
                <button class="exp rounded-pill p-3 me-4 mt-3">All Reviews </button>
                <button class="exp rounded-pill p-3 me-4 mt-3">brain checks </button>
                <button class="exp rounded-pill p-3 me-4 mt-3">proton therapy</button>
                <button class="exp rounded-pill p-3 me-4 mt-3">cancer and tumors</button>
                <button class="exp rounded-pill p-3 me-4 mt-3">craniosynostosis</button>
            </div>
        </div>

        <div class="row sm-hide">

            {% for key,testimonials in arr_data.profile_theme1.field_testimonials %}

            <div class="col-sm-6 p-4">
                <div class="test-wrapp">
                    <div class="p-3">
                        <div class="quotes"><i class="fa-solid fa-quote-left"></i></div>
                        <h4><b>{{testimonials.field_head}}</b></h4>
                        <br>
                        <p class="text-black">{{testimonials.field_content}}</p>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{{testimonials.field_image.url}}" alt="{{testimonials.field_image.alt}}" class="pt-2 img-fluid d-block mx-auto">
                            </div>
                            <div class="col-md-12 col-sm-6 pt-2">
                                <div class="fw-bolder">{{testimonials.field_patienname}}</div>
                                <button class="rel-btn p-2 m-2 btn">Aneurysm</button>
                                <button class="rel-btn p-2 m-2 btn">Hedeche</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        {# <!----------------Testimonials Mobile View----------------------> #}

        <div class="row owl-carousel testimonial-slider d-block d-sm-none">

            {% for key,testimonials in arr_data.profile_theme1.field_testimonials %}
            <div class="col-sm-6 p-4">
                <div class="test-wrapp">
                    <div class="p-3">
                        <div class="quotes"><i class="fa-solid fa-quote-left"></i></div>
                        <b>{{testimonials.field_head}}</b><br>
                        {{testimonials.field_content}}

                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{{testimonials.field_image.url}}" alt="{{testimonials.field_image.alt}}" class="pt-2 timg img-fluid d-block mx-auto">
                            </div>
                            <div class="col-md-12 col-sm-6 pt-2">
                                <div class="fw-bolder">{{testimonials.field_patienname}}</div>
                                <button class="rel-btn p-2 m-2 btn">Aneurysm</button>
                                <button class="rel-btn p-2 m-2 btn">Hedeche</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>

			{% if arr_data.profile_theme == 'theme2' %}
		</div>
	{% endif %}
</section>

<section id="{{ arr_data.profile_theme == 'theme1' ? 'sec7' : 'p2sec7' }}" class="pt-5 pb-5">
	{% if arr_data.profile_theme == 'theme2' %}
		<div class="secondtheme">
	{% endif %}
    <div class="container">
        <h2 class="text-center pb-5">Frequently Asked Questions</h2>

        <div class="col-sm-12 border border-dark-subtle rounded p-4">
            <div class="row">
                <input type="search" class="p-3 col-sm-9" placeholder="Search For Answers">
                <div class="col-sm-3 d-flex"> <span class="pt-3">Sort By: </span>
                    <div class="dropdown mx-2">
                        <button type="button" class="btn p-3 dropdown-toggle border border-dark-subtle" data-bs-toggle="dropdown">
                            Most Recent
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Normal</a></li>
                            <li><a class="dropdown-item active" href="#">Active</a></li>
                            <li><a class="dropdown-item disabled" href="#">Disabled</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12 border border-dark-subtle rounded p-3 mt-5">
            <button class="exp rounded-pill p-3 me-4 mt-3">All Patient Experiences</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">brain checks </button>
            <button class="exp rounded-pill p-3 me-4 mt-3">proton therapy</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">cancer and tumors</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">craniosynostosis</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">All Reviews</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">brain checks</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">proton therapy</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">cancer and tumors</button>
            <button class="exp rounded-pill p-3 me-4 mt-3">craniosynostosis</button>
        </div>

        <div class="container pt-5">
            <div class="accordion">
                <div class="row">
                    {% for key,faq in arr_data.profile_theme1.field_faq %}
                    <div class="col-lg-6 col-md-6 mb-4">
                        <article class="accordion-item rounded">
                            <span class="accordion-label">{{loop.index}}) {{faq.field_header}}</span>
                            <div class="accordion-content">
                                <p>{{faq.field_content}}</p>
                            </div>
                        </article>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
			{% if arr_data.profile_theme == 'theme2' %}
		</div>
	{% endif %}

</section>


<div class="pt-3">
    <iframe src="{{arr_data.profile_theme1.field_map}}" class="map" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<script src="assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>